html{
	background-color: #E0E0E0;
}
.main{
	align-content: center;
	margin-top: 120px;
}

.btn{
	height: 120px;
	width: 240px;
}

form{
	margin-left: 0;
	margin-right: 0;
	left: -12px;
}

li{
	font-size: 120px;
}

h1{
	margin-left: 10px;
}

.brand{
	color: white;
}

.list-group{
	left:-26px;
}
