<%- include('_head.ejs'); %>
<%- include('_header.ejs'); %>

<div class="main col-xs-12">
    <ul class="list-group col-xs-12 col-lg-3">
        <li class="list-group-item" id="PIN" onclick="copyToClipboard(PINtext)";><%= PIN %></li>
    </ul>
    <form class="col-xs-12" action="/generate" method="get">
        <button class="btn btn-lg btn-success" type="submit">
            <h2>Generate PIN</h2>
        </button>
    </form>
</div>

<%- include('_footer.ejs'); %>
