<%- include('_head.ejs'); %>
<%- include('_header.ejs'); %>

<div class="main">

	<form class="" action="/generate" method="get">
		<button type="submit" name="submit">Generate PIN</button>
	</form>
</div>

<%- include('_footer.ejs'); %>
