<%- include('_head.ejs'); %>
<%- include('_header.ejs'); %>

<div class="main">

	<form class="" action="/generate" method="get">
		<button class="btn btn-lg btn-success" type="submit" name=""><h2>Generate PIN</h2></button>
	</form>
</div>

<%- include('_footer.ejs'); %>
